.DS_Store
.idea/
*.csv
**/.ipynb_checkpoints/
subjects/
hcp_zips/
models/
!models/model_classes.py
!models/__init__.py
scoring/scoring_data
scoring/results
.archive
.running
configs/
**/*.pyc
**/*.yml
scores/
scoring/
*.log
segmented/
*.trk
